/* NAVIGATION ****************/
.nav {
  background: #fff;
  border-bottom: 1px solid #f1f0f0;
}

.navbar-light .navbar-nav .nav-link {
  color: #333333;
  margin: 0 10px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #269ca6;
}

/* HEADER ****************/
.header {
  text-align: center;
  padding: 60px 0 100px 0;
  background: #f8f9fa;
}

.header h1 {
  font-weight: 700;
  font-size: 50px;
  color: #333333;
}

.highlited {
  color: #269ca6;
}

/* MAIN CONTENT ****************/

.main-content {
  text-align: center;
}

/* SEARCH INPUT **********************/
.search-input {
  border: 7px solid #f3f3f3;
  border-radius: 9px;
  margin-top: -80px;
}

.search-input .form-control {
  border: none;
}

.search-input .input-domain {
  position: absolute;
  top: 10px;
  right: 110px;
  z-index: 9;
}

.search-input span h5.input-domain {
  color: red;
}

/* SEARCH RESULTS **********************/
.results-wrap {
  padding: 20px 0 40px 0;
}

.results-wrap h5 {
  margin-bottom: 30px;
}

/* FOOTER **********************/

.footer {
  background: #f8f9fa;
  padding: 80px 0;

  left: 0;
  right: 0;
  bottom: 0;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.footer ul li {
  margin: 2px 0;
}

.footer ul.footer-social li {
  display: inline;
  margin: 0 10px;
}

.footer-list li a {
  color: #666;
}

.footer-list li a:hover {
  color: #269ca6;
  text-decoration: none;
}
